@model InputFile

@{
    ViewBag.Title = "Home page";
}

<form class="form-horizontal" asp-action="Index" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group" style="position: relative;">
        <input id="fakeinput" type="button" value="Choose a file" />
        <input id="fileinput" asp-for="Uploadedfile" type="file"/>
        <span asp-validation-for="Uploadedfile"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" />
    </div>
</form>


@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}